*.DS_Store
*.egg-info
build/
./dist/
*.pyc
*.pyc.*
dist/
*.data
*.log
*.tar
*.tar.gz
*.zip
*.exc.*
eval/
*_ckpt*/
output/
outputs/
output*/
logs*/
outs/
wandb/
tools/results/
__pycache__/outputs/
__pycache__/